.form-style{
    width: 50%;
}
.form-group{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

.form-group > input {
    padding: 0.5rem;
    border-radius: 5px;

}
.inline {
    display: flex;
    width: 33%;
    align-self: center;
}
.center {
    text-align: center;
}
@media (max-width: 578px){
    .form-style{

        width: 100vw;
        padding: 1rem;
    }
}