.landscape{
    background-image: url("../../images/torres.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position-y: -20rem;
    min-height: 100vh;
    filter: contrast(80%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.landscape > div {
    width: 40vw;
    text-align: center;
    filter: contrast(100%);
    background-color: #71A8D9;
    padding: 0.3rem;
    border-radius: 10px;
    opacity: 0.80;
}
@media (max-width: 568px){
    .landscape{
        background-size: cover;
        background-position-y: initial;
    }
    .landscape > div {
        width: 80vw;
    }
}