.form-style{
    width: 50%;
    margin: 0px auto;
}
.form-group{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

.form-group > input {
    padding: 0.5rem;
    border-radius: 5px;

}

.center {
    text-align: center;
}
.margin{
    margin: 1rem 0px
}
@media (max-width: 578px){
    .form-style{
        width: 100vw;
        padding: 1rem;
    }
}